# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/

# Large media files
*.mp4
*.m4a
*.mp3
*.wav
*.mkv
*.flac
*.ass
*.srt
*.jpg
*.png

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
